astroid==2.4.2
autopep8==1.5.7
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
black==21.9b0
certifi==2021.5.30
click==7.1.2
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
cycler==0.10.0
debugpy @ file:///C:/ci/debugpy_1629222819322/work
decorator @ file:///tmp/build/80754af9/decorator_1621259047763/work
entrypoints==0.3
Flask==1.1.2
gunicorn==20.0.4
ipykernel==6.4.1
ipython @ file:///C:/ci/ipython_1632141520241/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
isort==5.6.4
itsdangerous==1.1.0
jedi @ file:///C:/ci/jedi_1611341083684/work
Jinja2==2.11.2
joblib==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1630690655192/work
jupyter-core @ file:///C:/ci/jupyter_core_1612213515523/work
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.3.3
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mccabe==0.6.1
mypy-extensions==0.4.3
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
numpy==1.19.3
pandas==1.1.5
parso @ file:///tmp/build/80754af9/parso_1617223946239/work
pathspec==0.9.0
patsy==0.5.2
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==8.0.1
platformdirs==2.3.0
prompt-toolkit @ file:///Users/ktietz/demo/mc3/conda-bld/prompt-toolkit_1629146841569/work
pycodestyle==2.7.0
Pygments @ file:///tmp/build/80754af9/pygments_1629234116488/work
pylint==2.6.0
pyparsing==2.4.7
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2020.4
pywin32==228
pyzmq @ file:///C:/ci/pyzmq_1628276105793/work
regex==2021.9.24
scikit-learn==0.24.0
scipy==1.5.4
seaborn==0.11.2
six @ file:///tmp/build/80754af9/six_1623709665295/work
sklearn==0.0
statsmodels==0.13.0
threadpoolctl==2.1.0
toml==0.10.2
tomli==1.2.1
tornado @ file:///C:/ci/tornado_1606924294691/work
traitlets @ file:///home/ktietz/src/ci/traitlets_1611929699868/work
typing-extensions==3.10.0.2
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
yapf==0.31.0
