<!DOCTYPE html>
<html>
    <!--From https://codepen.io/frytyler/pen/EGdtg-->
    <head>
        <title> HOUSE PRICE PREDICTION  </title>
        <meta charset="UTF-8">
        <title>ML API</title>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    </head>
    <body>
      <div class="login">
             <h1> HOUSE PRICE </h1>
             <p> Predict House Price </p>
          <!-- Main Input For Receiving Query to our ML -->
          <form method="post" action="{{url_for('predict')}}"> 
             <input type='number' name='BHK' placeholder="Number of BHK required" required='required'/>
             <input type='number' name='Bath' placeholder="Number of Bathroom required" required='required'/>
             <input type='number' name='Sqft' placeholder="Square foot of house " required='required'/>
             <input type='text' name='Location' placeholder="Location of the House" required='required'/>

             <button type='submit' class='btn btn-primary'>Predict</button>
          </form>

          <br>
          <br>
          {{ prediction_text }}
      </div>
    </body>

</html>